@let isAdmin = authService.isLoggedIn$ | async;
<div class="flex flex-col w-full items-center p-8 gap-4">
  <select
    class="select select-bordered !outline-none w-48 text-center"
    [(ngModel)]="season"
    (change)="seasonChange($event)"
  >
    <option hidden selected>Saison</option>
    @for (season of seasons$ | async; track $index) {
      <option [value]="season">20{{ season }}/{{ season + 1 }}</option>
    }
  </select>
  <select
    class="select select-bordered !outline-none w-48 text-center"
    [(ngModel)]="playerId"
    (change)="playerChange($event)"
  >
    <option value>Alle</option>
    @for (player of players$ | async; track player.id) {
      <option [value]="player.id">{{ player.name }}</option>
    }
  </select>
  @if (playerId$ | async) {
    <div class="flex flex-col max-w-full w-[500px] border-2 border-white/5 rounded-md">
      <div class="flex justify-evenly items-center">
        <div class="stats stats-vertical">
          <div class="stat place-items-center">
            <div class="stat-title">Offene Beiträge</div>
            <div class="stat-value">{{ (playerSummary$ | async)?.total }} €</div>
          </div>
        </div>
      </div>
      <div class="divider my-0 h-0.5"></div>
      <div class="flex justify-between">
        <div class="stats grid-cols-3 w-full">
          <div class="stat place-items-center">
            <div class="stat-title">Getränke</div>
            <div class="stat-value text-lg sm:text-2xl">{{ (playerSummary$ | async)?.drink }} €</div>
          </div>
          <div class="stat place-items-center">
            <div class="stat-title">Strafen</div>
            <div class="stat-value text-lg sm:text-2xl">{{ (playerSummary$ | async)?.fine }} €</div>
          </div>
          <div class="stat place-items-center">
            <div class="stat-title">Sonstiges</div>
            <div class="stat-value text-lg sm:text-2xl">{{ (playerSummary$ | async)?.misc }} €</div>
          </div>
        </div>
      </div>
    </div>
    <div class="max-w-full w-[500px] join join-vertical my-4">
      <div class="join-item w-full flex bg-base-200 items-center pl-4 h-12">
        <span class="flex-1 font-bold">Beiträge</span>
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="btn">
            <i class="fas {{ (feeFilter$ | async) ? 'fa-filter-circle-xmark' : 'fa-filter' }}"></i>
          </div>
          <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
            <li>
              <a
                class="py-4"
                [ngClass]="{ 'bg-base-200': (feeFilter$ | async) === 'fine' }"
                (click)="toggleFilter('fine')"
              >
                <i class="fas fa-gavel fa-fw"></i>
                Strafen
              </a>
            </li>
            <li>
              <a
                class="py-4"
                [ngClass]="{ 'bg-base-200': (feeFilter$ | async) === 'misc' }"
                (click)="toggleFilter('misc')"
              >
                <i class="fas fa-coins fa-fw"></i>
                Sonstiges
              </a>
            </li>
            <li>
              <a
                class="py-4"
                [ngClass]="{ 'bg-base-200': (feeFilter$ | async) === 'drink' }"
                (click)="toggleFilter('drink')"
              >
                <i class="fas fa-glass-water fa-fw"></i>
                Getränke
              </a>
            </li>
          </ul>
        </div>
      </div>
      <table class="table table-zebra table-fixed join-item">
        <tbody>
          @for (fee of fees$ | async; track fee.id) {
            <tr
              class="hover"
              [ngClass]="{ 'cursor-pointer active:!bg-[oklch(var(--b3))]': isAdmin }"
              (click)="isAdmin ? editFee(fee) : null"
            >
              <td class="flex gap-4 items-center" [ngClass]="{ 'opacity-50': fee.paid }">
                @if (fee.paid) {
                  <i class="fa-fw fas fa-circle-check"></i>
                } @else {
                  <i class="fa-fw {{ feeTypeIcon[fee.type] }}"></i>
                }
                <div class="flex flex-col justify-center flex-1 min-w-0 gap-1">
                  <div class="flex flex-row items-center gap-2">
                    <div class="font-bold">{{ fee.comment }}</div>
                  </div>
                  <div class="flex flex-row items-center gap-2">
                    <div class="badge badge-neutral badge-sm gap-1 px-2">
                      <i class="far fa-calendar fa-2xs"></i>
                      {{ fee.date | date: "shortDate" }}
                    </div>
                    <div class="badge badge-neutral badge-sm px-2">{{ fee.quantity }} x</div>
                  </div>
                </div>
                <div class="font-bold">{{ fee.value }} €</div>
              </td>
            </tr>
          }
        </tbody>
      </table>
      @if (canExtendFees) {
        <button class="btn join-item" (click)="increaseFeeLength()">
          <i class="fas fa-angle-down"></i>
          Mehr laden
        </button>
      }
    </div>
    <div class="max-w-full w-[500px] join join-vertical my-4">
      <div class="join-item w-full flex bg-base-200 items-center pl-4 h-12">
        <span class="flex-1 font-bold">Saisonbilanz</span>
      </div>
      <table class="table table-zebra table-fixed join-item">
        <tbody>
          @for (summary of playerFineSummaries$ | async; track summary.fine) {
            <tr class="hover">
              <td class="flex gap-4 items-center">
                <div class="flex flex-row items-center gap-2 flex-1 overflow-hidden">
                  <div class="w-5 text-end flex-shrink-0">{{ summary.rank ? summary.rank + "." : "" }}</div>
                  <div class="font-bold text-ellipsis overflow-hidden text-nowrap">
                    {{ summary.fine === "Getränk" ? "Getränke" : summary.fine }}
                  </div>
                  <div class="badge badge-neutral badge-sm px-2 flex-shrink-0">{{ summary.quantity }} x</div>
                </div>
                <div class="font-bold">{{ summary.value }} €</div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  } @else {
    <select
      class="select select-bordered !outline-none w-48 text-center"
      [(ngModel)]="fineType"
      (change)="fineChange($event)"
    >
      <option value="Getränk">Getränke</option>
      @for (fineType of fineTypes$ | async; track fineType) {
        <option [value]="fineType">{{ fineType }}</option>
      }
    </select>
    <div class="max-w-full w-[500px] join join-vertical my-4">
      <div class="join-item w-full flex bg-base-200 items-center pl-4 h-12">
        <span class="flex-1 font-bold">{{ (fineType$ | async) === "Getränk" ? "Getränke" : (fineType$ | async) }}</span>
      </div>
      <table class="table table-zebra table-fixed join-item">
        <tbody>
          @for (summary of fineSummaries$ | async; track summary.player.id) {
            <tr class="hover cursor-pointer active:!bg-[oklch(var(--b3))]" routerLink="{{ summary.player.id }}">
              <td class="flex gap-4 items-center">
                <div class="flex flex-row items-center gap-2 flex-1">
                  <div class="w-5 text-end">{{ summary.rank ? summary.rank + "." : "" }}</div>
                  <div class="font-bold">{{ summary.player.name }}</div>
                  <div class="badge badge-neutral badge-sm px-2">{{ summary.quantity }} x</div>
                </div>
                <div class="font-bold">{{ summary.value }} €</div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
<!-- ? BEITRAGS-DIALOG -->
<dialog #feeModal id="feeModal" class="modal" (close)="feeForm.reset()">
  <div class="modal-box">
    <div class="flex items-center mb-4">
      <h3 class="text-lg font-bold flex-1">Beitrag {{ feeForm.value.id ? "bearbeiten" : "hinzufügen" }}</h3>
      @if (feeForm.value.id) {
        <button class="btn btn-ghost btn-circle" (click)="deleteFee()">
          <i class="fas fa-trash"></i>
        </button>
      }
    </div>
    <form class="flex flex-col gap-2" [formGroup]="feeForm">
      <div class="form-control">
        <label class="label"><span class="label-text">Spieler</span></label>
        <select class="select select-bordered !outline-none" formControlName="playerId">
          @for (player of players$ | async; track player.id) {
            <option [value]="player.id">{{ player.name }}</option>
          }
        </select>
      </div>
      <div class="form-control">
        <div class="flex gap-2">
          <div class="form-control flex-1">
            <label class="label"><span class="label-text">Art</span></label>
            <select class="select select-bordered !outline-none mb-2" formControlName="type">
              <option value="fine">Strafe</option>
              <option value="misc">Sonstiges</option>
              <option value="drink" hidden>Getränk</option>
            </select>
          </div>
          <div class="form-control flex-1">
            <label class="label"><span class="label-text">Datum</span></label>
            <input
              type="datetime-local"
              class="input input-bordered !outline-none text-sm w-full"
              formControlName="date"
            />
          </div>
        </div>
        @if (feeForm.value.type === "misc") {
          <input
            type="text"
            class="input input-bordered !outline-none"
            formControlName="comment"
            (focus)="utilService.select($event)"
          />
        } @else if (feeForm.value.type === "fine") {
          <select
            class="select select-bordered !outline-none mb-2"
            formControlName="punishment"
            (change)="punishmentChanged()"
          >
            @for (punishment of fbService.punishments$ | async; track punishment.id) {
              <option [value]="punishment.id">{{ punishment.name }}</option>
            }
          </select>
        }
      </div>
      <div class="flex gap-2">
        <div class="form-control min-w-0 flex-1">
          <label class="label"><span class="label-text">Anzahl</span></label>
          <input
            type="number"
            class="input input-bordered !outline-none text-end"
            min="1"
            formControlName="quantity"
            (change)="updateValue()"
            (focus)="utilService.select($event)"
          />
        </div>
        <div class="form-control min-w-0 flex-1">
          <label class="label"><span class="label-text">Wert</span></label>
          <input
            type="number"
            class="input input-bordered !outline-none text-end"
            formControlName="value"
            [readOnly]="feeForm.value.type === 'fine'"
            (focus)="utilService.select($event)"
          />
        </div>
      </div>
    </form>
    <div class="modal-action">
      <form method="dialog" class="flex gap-2">
        <button class="btn btn-ghost" (click)="resetFeeForm()">Schließen</button>
        <button class="btn" [disabled]="!feeForm.valid" (click)="saveFee()">Speichern</button>
      </form>
    </div>
  </div>
</dialog>
