<div class="flex justify-center items-center p-8 absolute inset-0 top-20">
  <div class="flex items-center bg-white/10 max-w-full w-96 rounded-md border-2 border-white/5 p-8 h-96">
    <form [formGroup]="form" class="flex flex-col w-full gap-4 items-stretch">
      <label
        class="input input-bordered flex items-center gap-2"
        [ngClass]="{ 'input-error': authService.loginFailed }"
      >
        <i class="fas fa-envelope"></i>
        <input formControlName="email" type="text" placeholder="E-Mail-Adresse" />
      </label>
      <label
        class="input input-bordered flex items-center gap-2"
        [ngClass]="{ 'input-error': authService.loginFailed }"
      >
        <i class="fas fa-lock"></i>
        <input formControlName="password" type="password" placeholder="Passwort" />
      </label>
      <button
        class="btn mt-4"
        [disabled]="!form.valid"
        (click)="authService.loginWithEmail(form.value.email, form.value.password)"
      >
        Login
      </button>
    </form>
  </div>
</div>
