@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Rubik";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

::selection {
  background-color: oklch(var(--p));
}
